<html>
<body>
  <div>
    <div class="container">
      <div class="row">
        <a routerLink="/page1">
          <img src="/assets/images/gpu.png" height="200" width="300" alt="Видеокарта"/>
        </a>
        <a routerLink="/page1">Видеокарты</a>
      </div>
      <div class="row">
        <a routerLink="/page2">
          <img src="/assets/images/cpu.png" height="200" width="300" alt="Процессор"/>
        </a>
        <a routerLink="/page2">Процессоры</a>
      </div>
      <div class="row">
        <a routerLink="/page3">
          <img src="/assets/images/motherboard.png" height="200" width="300" alt="Материнская плата"/>
        </a>
        <a routerLink="/page3">Материнкские платы</a>
      </div>
    </div>
  </div>
</body>
</html>
<router-outlet></router-outlet>
